/** @format */

@use '../utilities/mixins' as *;
@use '../utilities/variables' as *;

@mixin custom-btn($width: 160px, $height: 50px, $font-weight: bold) {
	width: $width;
	height: $height;
	border-radius: 15px;
	color: $color-text-primary !important;
	font-weight: $font-weight;
	font-size: 1rem;
	border: none;
	transition: all .4s ease-in-out;
	cursor: pointer;
	@include gradient;
	&:hover {
		box-shadow: 0 0 5px 0 rgb($color-brand-secondary, 1);
        background-position: 100% 0;
		@include gradient($opacity: 0.9);
	}
}

@mixin contact-and-network-icon($margin: 0, $selector: '&__icon-wrapper', $transform: scale(1.5)){
	#{$selector} {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		position: relative;
		transition: transform 300ms linear;
		margin: $margin 0;
		@include gradient;
       
        &:hover {
			transform: $transform;
		}

		i {
			width: 94%;
			height: 94%;
			border-radius: 50%;
			padding: .3rem;
			position: absolute;
			left: 1px;
			top: 1.1px;
			@include flexbox;
		}
	}
}
