/** @format */

// A customizable animation
@mixin animation($duration, $delay: 0s) {
	$name: #{unique-id()};
	@keyframes #{$name} {
		@content;
	}
	animation-name: $name;
	animation-duration: $duration;
	animation-fill-mode: forwards;
	animation-delay: $delay;
}
@mixin animation-on-scroll(
	$opacity: 0,
	$transform-value: translateY(100px),
    $transition-duration: 2s

) {
	opacity: $opacity;
	transform: $transform-value;
	transition:  opacity $transition-duration, transform $transition-duration;
}

@mixin top-level-animation($duration: 2s, $dely: 0s, $translate: 0px, $axe: translateX($translate) ) {
	@include animation($duration, $dely) {
		0% {
				opacity: 0;
				transform:  $axe;
		}
		20% {
				opacity: 0.5;
		}
		100% {
				opacity: 1;
				transform: translateY(0px);
		}
	}
}
